Button:nth-of-type(1) {
  margin-right: 5px !important;
}

.score {
  display: flex !important;
}

.teams {
  font-size: 36px;
}

.table-row {
  display: flex;
  justify-content: center !important;
}

.table {
  
  max-width: 50%;
}